.audience {
	.image{	
		position: relative;
		@include background-contain('/images/intro-king.jpg');

		width: 100vw;
		height: 56.25vw;
	}

	.text {
		color: black;
		position: absolute;
		z-index: 3;
		top: 40%;
		left: 50%;
		width: 35%;
		font-size: 2.3vw;
		text-align: center;
	}
}