@mixin panel {
  background-color: rgba(240, 233, 201, 0.6);
  box-shadow: 0 0 5px 5px rgba(240, 233, 201, 0.6);
  color: black;
  font-size: 24px;
}

.global-panel {  
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;

  margin: 0;
  padding: 10px;

  @include panel;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
  > div {
    pointer-events: auto;
    &:not(:last-child) {
      margin-right: 20px;
    }

    &.click {
      cursor: pointer;
    }

    &.hints {
      margin-top: auto;
    }
  }

  .map {
    margin-top: 10px;
    div {
      padding-left: 15px;
    }
    .map-title {
      padding-left: 0;
    }
    .click {
      cursor: pointer;
    }
  }

  &.isMap {
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
  }
}

.bottom-panel {
  position: fixed;
  bottom: 0;
  right: 0;

  @include panel;
  > div {
    margin: 10px;
  }
}

.centered-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 70px;
    color: white;
    font-weight: normal;
    margin: 0;
  }
}