@mixin panel {
  background-color: rgba(240, 233, 201, 0.6);
  box-shadow: 0 0 5px 5px rgba(240, 233, 201, 0.6);
  color: black;
  font-size: 24px;
}


.unit-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 27vw;
  display: none;
  &.visible {
    display: block;
  }

  padding: 10px;
 
  @include panel;

  font-size: 24px;

  .commands {
    font-size: 32px;
    margin-bottom: 5px;
    > * {
      color: #4d3e34;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }

  .command-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 40px;
    cursor: pointer;
  }

  .props {
    display: flex;
    align-items: center;

    > * {
      &:not(:first-child) {
        margin-left: 20px;
        display: flex;
      }

      > span {
        line-height: 32px;
      }
    }
  }

  .cargo {
    line-height: 32px;
    .icon {
      margin-right: 10px;
    }
  }

  .icon {
    margin: -16px;
  }

  .passengers .icon {
    margin: 0;
  }
}