@mixin panel {
  background-color: rgba(240, 233, 201, 0.6);
  box-shadow: 0 0 5px 5px rgba(240, 233, 201, 0.6);
  color: black;
  font-size: 24px;
}


.screen {
  &.units {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    overflow-y: auto;

    background: url(/images/help.jpg);
    background-size: cover;

    .topbar {
      margin: 15px;
      display: flex;
      justify-content: space-between;

      .heading {
        font-size: 40px;
      }

      .close {
        font-size: 30px;
        color: rgba(240, 233, 201);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .list {
      margin-top: 20px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(auto-fill, 130px);
      .unit {
        @include panel;

        display: grid;
        grid-gap: 5px;
        grid-template:
          "icon text" auto
          "cargo cargo" auto /
          min-content 1fr;

        padding: 10px;
        .icon {
          grid-area: icon;
          cursor: pointer;
        }
        .text {
          grid-area: text;
        }
        .cargo {
          grid-area: cargo;
          display: flex;
          .icon {
            margin: -16px;  
          }
          .passengers {
            .icon {
              margin: -16px -24px -16px -16px;
            }
          }
        }
        .command, .place {
          font-size: 14px;
        }
        .place {
          display: none;
        }
      }
    }
  }
}