html {
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
	background: url(/images/title.jpg) no-repeat center center fixed;
	background-size: cover;
}

.info {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	color: white;
	pointer-events: none
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.title {
	transition: opacity 1s;
	opacity: 1;
	font-family: "Times New Roman";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

h1 {
	text-align: center;
  margin-top: 37vh;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 60px;
  margin-left: 5vw;
  @media (max-width: 820px) {
		font-size: 6.2vw;
  }
}

h2 {
	margin-left: 55vw;
	text-align: left;
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 5vh;
  @media (max-width: 820px) {
		font-size: 4.2vw;
  }
}

a {
	text-decoration: none;
	color: black;
}

.panel {
	background: url(/images/status.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translateX(-50%);
	width: 25vw;
	@media (max-width: 1200px) {
		width: 28vw;
	}
	@media (max-width: 820px) {
		width: 32vw;
	}
	@media (max-height: 600px) {
		width: 45vw;
		bottom: 5vh;
	}
	height: 28vh;
	max-height: 30vw;
	padding: 15px;
	div.links {
		position: relative;
		width: 25vw;
		@media (max-width: 1200px) {
			width: 28vw;
		}
		@media (max-width: 820px) {
			width: 32vw;
		}
		@media (max-height: 600px) {
			width: 45vw;
		}
		height: 28vh;
		max-height: 30vw;
		a {
			position: absolute;
			display: block;
			font-size: 34px;
			text-align: center;
			transform: translateX(5vw);
			width: 15vw;
			@media (max-width: 1400px) {
				width: 12vw;
				transform: translateX(6.5vw);
			}
			@media (max-width: 1200px) {
				width: 13vw;
				transform: translateX(7.5vw);
				font-size: 3.3vw;
			}
			@media (max-width: 820px) {
				font-size: 3.6vw;
				width: 17vw;
			}
			@media (max-height: 600px) {
				font-size: 5.3vh;
				width: 30vw;
			}
			&.start {
				top: 1vw;
			}
			&.load {
				bottom: 1vw;
			}
		}
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.loading {
	position: absolute;
	bottom: 4vw;
	font-size: 36px;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
	transition: opacity 1s;
}

.disabled {
	pointer-events: none;
	color: #666666;
}



// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }