@import './_mixins';

html {
    @include background-cover('/images/title.jpg');

    height: 100%;
    font-family: "Courier New", "Courier", monospace;
}

body {
    padding: 0;
    margin: 0;
    user-select: none;
}

.info {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.7);
    display: inline;
    @include no-select;
}

.imprint {
    font-size: 22px;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title {
    transition: opacity 1s;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    &.show {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    margin-top: 37vh;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 60px;
    margin-left: 5vw;
    @media (max-width: 820px) {
        font-size: 6.2vw;
    }
}

h2 {
    margin-left: 55vw;
    text-align: left;
    margin-top: 0;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 5vh;
    @media (max-width: 820px) {
        font-size: 4.2vw;
    }
}

a {
    text-decoration: none;
    color: black;
}

.panel {
    background-color: rgba(240, 233, 201, 0.6);
    border-radius: 8px;
    background-size: 100% 100%;
    position: absolute;

    left: 0;
    right: 0;
    bottom: 15vh;
    margin: auto;

    width: 30vw;
    @media (max-width: 1200px) {
        width: 40vw;
    }
    @media (max-width: 820px) {
        width: 50vw;
    }
    @media (max-width: 600px) {
        width: 70vw;
    }

    padding: 15px;
    div.links {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        a {
            display: block;
            padding: 15px 0;
            font-size: 40px;
            text-align: center;
            &:hover {
                color: rgb(255, 255, 255);
                background-color: rgba(29, 89, 117, 0.6);
            }
        }
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.loading {
    position: absolute;
    bottom: 4vw;
    font-size: 36px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    transition: opacity 1s;
    z-index: 5;
    color: white;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
