.title {
	margin-bottom: 20px;
	font-weight: bolder;
}

.subtitle {
	font-weight: bolder;
}

.construction {
	margin-top: 20px;
	pointer-events: auto;
	cursor: pointer;
	> span {
		margin-right: 16px;
	}
}

.colonists {
	margin-top: 20px;
	font-size: 16px;
}

.red {
	color: rgb(225, 0, 0);
}
.green {
	color: rgb(0, 132, 0);
}