doctype html
html(lang='de')
	head
		title Americas by Krito and the Stoker

		link(rel='stylesheet' href='/style.css')

	body
		.canvas
		.info
			#date
		.title
			h1 a game of colonization
			h2
				a(href='https://kritoandthestoker.de' target='_blank') by Krito and the Stoker
			.panel
				.links
					a.start(href='#') Start new game
					a.load(href='#') Resume game
			.imprint
				a(href='https://kritoandthestoker.de/#imprint' target='_blank') IMPRINT
		.loading.hidden#log Downloading files
		script(src='/index.entry.js')
