doctype html
html(lang='de')
	head
		title Americas by Krito and the Stoker

		link(rel='stylesheet' href='/style.css')

	body
		h1 a game of colonization
		h2 by Krito and the Stoker
		.panel
			.links
				a.first Start new game
				a.last Resume game
		//- script(src='/main.entry.js')
